$main_color: #6093cc;
$main_color_hover: #527cac;
$color_background: #292929; 
$boxes_bg: #afc8c8;
$boxes_bg_hover: #96afaf;

html, body, #root {
  background: $color_background;
  height: 100%;
}

.wrapper {
  max-width: 1020px;
  margin: 0 auto;
  height: 100%;
}

.body {
  height: calc( 100% - 50px);
  display: flex;
  flex-direction: row;
  z-index: 0;
  overflow: hidden;
}